body, html {
height: 100%;
margin: 0;
font-family: 'Shadows Into Light', cursive;
font-size: 20px;


}

.text-center {
        font-family: 'Shadows Into Light', cursive;
        font-size: 100px;
      }
.bg {
  /* The image used */
background-image: url("../assets/img/alarm.jpg");
/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;

}

li a:hover {
    background-color: #E7C4DD;
    text-decoration: none;


}

#about {
background-color: grey;
height: 400px;

}
.boxmodel {
    background-color: white;
    width: 100%;
    border: 2px solid #E7C4DD;
    padding: 5px;
    /*margin: 0px;*/
}
